.app {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}


.app_comments {
    margin: 50px auto 0 auto;
}

.app_pagination{
    display: flex;
    flex-wrap: wrap;
}


/*styles transition group*/
.remove-btn {
    margin-right: 0.5rem;
}

.comment-enter {
    opacity: 0;
}

.comment-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.comment-exit {
    opacity: 1;
}

.comment-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
